.w-12 {
  width: 12rem;
}
.rel {
  position: relative;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.text-center {
  text-align: center;
}
.abs {
  position: absolute;
}
.center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.border {
  border: 1px solid #515050;
}
.white {
  color: white;
}
.lg-size {
  font-size: xx-large;
}
.w-2 {
  width: 2.5rem;
}
.h-2 {
  height: 2.5rem;
}
.circle {
  border-radius: 50%;
}
.bg-light-green {
  background-color: #34d399;
}
.sm-size {
  font-size: small;
}
.p-02 {
  padding: 0.2rem;
}
.pt-02 {
  padding-top: 0.2rem;
}
.mt-05 {
  margin-top: 0.5rem;
}
.top-05 {
  top: 0.5rem;
}
.right-05 {
  right: 0.5rem;
}
.ml-02 {
  margin-left: 0.2rem;
}
.light-green {
  color: #34d399;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.bottom-1 {
  bottom: 1.5rem;
}
.med-size {
  font-size: medium;
}
.bottom-05 {
  bottom: 0.5rem;
}
.xsm-size {
  font-size: x-small;
}
.flex-wp {
  flex-wrap: wrap;
}
.sp-bw {
  justify-content: space-between;
}
.m-1 {
  margin: 1rem;
}
.p-1 {
  padding: 1rem;
}
.prl-1 {
  padding: 0 1rem;
}
.prl-2 {
  padding: 0 2rem;
}
